[user]
	email = 105678256@163.com
	name = baron
[color]
	diff = auto
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.163.com
	smtpserverport = 587
	smtpuser = 105678256@163.com
	smtpssl = yes
	from = 105678256 <105678256@163.com>
